  {% extends "AMS/TeacherBase.html" %}
  {% block Content%}
  {%load static%}
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
  
        <div class="w3-center"><br>
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
         
        </div>
        <h2 class="w3-center w3-text-dark-grey w3-xxlarge">Select</h2>
        
        <br>
  
       <form action="Insert/" method="POST">
        {%csrf_token%}
         <div class="w3-container w3-text-dark-grey w3-center w3-large">
          <label class="w3-padding">Semester: </label>
         <input type="text" name="Sem" value="{{Sem}}" readonly><br>
         <label class="w3-padding">Batch: </label>
         <input type="text" name="Batch" value="{{Batch}}" readonly><br>
         <label class="w3-padding">Course: </label>
         <input type="text" name="Course" value="{{Course}}" readonly><br>
         <label class="w3-padding">Section: </label>
         <input type="text" name="Section" value="{{Section}}" readonly><br>
         <label class="w3-padding">Weightage</label>
         <input type="text" id="Weightage" name="Weightage"><br>
        <label class="w3-padding">Total Marks: </label>
         <input type="text" id="TotalMarks" name="TotalMarks"><br>
         <label class="w3-padding">Type:</label>
                  <select class="w3-light-grey w3-text-grey" id="Type" name="Type">
                    {% for Type in Types %}
                      <option value="{{Type}}">{{Type}}</option>      
                    {% endfor %}
          </select>
      </div><br>
          <div class="w3-center w3-large">
          
        </div>


   

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      <button class="w3-button  w3-green " style="float:right;" type="submit">Submit</button>
    </div>
  </form>
  </div>
</div>
          <div id="id02" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
        
              <div class="w3-center"><br>
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
               
              </div>
              <h2 class="w3-center w3-text-dark-grey w3-xxlarge">Select</h2><br>
             <form action="Update/" method="POST">
                {%csrf_token%}
               <div class="w3-container w3-text-dark-grey w3-center w3-large">
                  <label class="w3-padding">Semester: </label>
                 <input type="text" name="Sem" value="{{Sem}}" readonly><br>
                 <label class="w3-padding">Batch: </label>
                 <input type="text" name="Batch" value="{{Batch}}" readonly><br>
                 <label class="w3-padding">Course: </label>
                 <input type="text" name="Course" value="{{Course}}" readonly><br>
                 <label class="w3-padding">Section: </label>
                 <input type="text" name="Section" value="{{Section}}" readonly><br>
                 <label class="w3-padding">Evaluation Num: </label>
                  <select class="w3-light-grey w3-text-grey" id="EvalNum" name="EvalNum">
                    {% for Eval in Evals %}
                      <option value="{{Eval}}">{{Eval}}</option>      
                    {% endfor %}
                  </select>
            </div><br>
                <div class="w3-center w3-large">
                
              </div>
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
            <button class="w3-button  w3-green " style="float:right;" type="submit">Submit</button>
             
          </div>
        </form>
        </div>
      </div>

<div id="id03" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
  
        <div class="w3-center"><br>
          <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
         
        </div>
        <h2 class="w3-center w3-text-dark-grey w3-xxlarge">Select</h2>
        <br>
       <form action="{% url 'TeacherGrading' %}" method="POST">
        {%csrf_token%}
         <div class="w3-container w3-text-dark-grey w3-center w3-large">
          <label class="w3-padding">Semester: </label>
         <input type="text" name="Sem" value="{{Sem}}" readonly><br>
         <label class="w3-padding">Batch: </label>
         <input type="text" name="Batch" value="{{Batch}}" readonly><br>
         <label class="w3-padding">Course: </label>
         <input type="text" name="Course" value="{{Course}}" readonly><br>
         <label class="w3-padding">Section: </label>
         <input type="text" name="Section" value="{{Section}}" readonly><br>
         <label class="w3-padding">Grading Scheme:</label>
                  <select class="w3-light-grey w3-text-grey" id="GradingScheme" name="GradingScheme">
                    {% for Grading in Gradings %}
                      <option value="{{Grading}}">{{Grading}}</option>      
                    {% endfor %}
          </select>
      </div><br>
          <div class="w3-center w3-large">
          
        </div>
    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
      <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      <button class="w3-button  w3-green " style="float:right;" type="submit">Submit</button>
    </div>
  </form>
  </div>
</div>



      <div class="w3-row">
        <div class="w3-col w3-container m3 l3 w3-theme-d4">
          
        </div>
       
        <div class="w3-col w3-container m6 l6 w3-theme-d4  ">  <br>
          <div class=" w3-xxlarge w3-center">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-theme-d4" style="text-decoration:none ;"><p class="w3-text-dark-gray">Insert</p></button>
            <button onclick="document.getElementById('id02').style.display='block'" class="w3-btn w3-theme-d4" style="text-decoration:none ;"><p class="w3-text-dark-gray">Update</p></button>
            <button onclick="document.getElementById('id03').style.display='block'" class="w3-btn w3-theme-d4" style="text-decoration:none ;"><p class="w3-text-dark-gray">Assign Grades</p></button>
        </div>
        </div>

        <div class="w3-col w3-container m3 l3 w3-theme-d4">  
           </div>
      </div>
     <br>
     <br><br><br>
     <div class="w3-row">

      <div class="w3-col w3-container m1 l1 w3-theme-d4">
        
      </div>
      <div id="{{Sem}}" value="{{Sem}}">
      </div>
      <div id="{{Batch}}" value="{{Batch}}">
      </div>
      <div id="{{Course}}" value="{{Course}}">
      </div>
      <div id="{{Section}}" value="{{Section}}">
      </div>

      <div class="w3-col  m10 l10 w3-theme-d2">
        <div class="w3-text-dark-gray ">
         <br>
        
          <table id="table1" class="w3-table  ">
            <col width="5%">
             <col width="15%">
             <col width="20%">
             <col width="50%">
              <col width="10%">
             
            <tr class="w3-center ">
              <th class="w3-center">Serial#</th>
              <th class="w3-center">Roll#</th>
              <th class="w3-center">Name</th>
              <th class="w3-center">Score</th>
              <th class="w3-center">Total Absolutes</th>

            </tr>
            {% for StudentIDs,Names,Marks in Records%}
            <tr class="w3-center">
              <td class="w3-center">{{forloop.counter}}</td>
              <td class="w3-center">{{StudentIDs}}</td>
              <td class="w3-center">{{Names.Name}}</td>
              <td class="w3-center"><div class="w3-theme-d1 w3-round-xlarge">
                <div class="w3-container w3-text-dark-gray w3-round-xlarge" style="width:{{Marks}}%">{{Marks}}</div>
              </div>
             </td>
             <td class="w3-center">{{TotalMarks}}</td>
            </tr>
            {% endfor %}
            </div>
          </table><br><br>
        </div>
      </div>
      

      <div class="w3-col w3-container m1 l1 w3-theme-d4">
        
      </div>
    </div>

    </div>
    
    
  
  <!-- Page Content -->

<script language="javascript">
var table = document.getElementById("table1"); 
var totalRows = document.getElementById("table1").rows.length;
var totalCol = 4; // enter the number of columns in the table minus 1 (first column is 0 not 1)
//To display all values
for (var x = 1; x < totalRows; x++)
{
  
 if(table.rows[x].cells[3].getElementsByTagName("DIV")[1].innerHTML < 80){
   
  table.rows[x].cells[3].getElementsByTagName("DIV")[1].style.backgroundColor ="#FFA2A2";
   }
  if(table.rows[x].cells[3].getElementsByTagName("DIV")[1].innerHTML >= 80){
   
    table.rows[x].cells[3].getElementsByTagName("DIV")[1].style.backgroundColor ="#FFFFBA";
   }
   if(table.rows[x].cells[3].getElementsByTagName("DIV")[1].innerHTML >= 86){
   
    table.rows[x].cells[3].getElementsByTagName("DIV")[1].style.backgroundColor ="#D6FFAC";
   }
 
}
//To display a single cell value enter in the row number and column number under rows and cells below:

</script>
{% endblock Content %}